.navbar {
  height: 100px;
  background-color: white;
  padding: 10px 40px;
}

.navbar-brand {
  width: 50px;
  background-color: white;
}

.navbar-brand img {
  height: 60px;
}

.nav-item {
  display: flex;
  background-color: white;
  align-items: center;
  font-size: 22px;
}

.user-name {
  margin-right: 30px;
}

.user-username {
  color: #00c3ca;
}

.user-avatar img {
  border-radius: 50%;
  height: 60px;
}
