@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@100;300;400&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

* {
  font-family: 'Roboto', sans-serif;
  color: #656d79;
  text-decoration: none;
  list-style: none;
}

button:focus{
  outline:none !important;
}

.button {
  cursor: pointer;
  padding: 0px;
  background: transparent;
  border: none;
}

.main-content {
  display: flex;
  position: relative;
  height: 100%;
  top: 0;
  margin-left: 400px;
  /* margin-top: 400px; */
}

/* Sidebar */
.sidebar {
  position: absolute;
  width: 400px;
  height: 100%;
  padding: 20px 40px;
  /* background-color: aqua; */
  z-index: 1;
}

.sidebar-brand {
  width: 50px;
  background-color: white;
  margin-bottom: 100px;

}

.sidebar-brand img {
  height: 80px;
}

.sidebar ul li {
  padding: 15px 0px;
}

.sidebar-item {
  color: black;
  font-size: 18px;
}

.sidebar-item i {
  color: black;
  width: 22px;
  font-size: 25px;
  margin-right: 1rem;
}

/* MAIN CONTENT */
.personnel-list-page {
  width: 100%;
  /* height: 100vh; */
  background-color: rgba(233, 230, 230, 0.562);
  padding: 3.5rem 3.5rem 1.5rem 3.5rem;
}

/* maincontent - HEAD */
.personnel-head {
  width: 100%;
  background-color: white;
  padding: 2rem;
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
}

.personnel-list-title {
  color: #00c3ca;
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.personnel-list-text {
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
}

.personnel-option {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.personnel-search {
  background-color: white;
  width: 230px;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: #9aa2ad;
  border-width: 1px;
  border-style: solid;
  padding: 10px
}

.search-personnel-input {
	border: 0;
  outline: none;
  width: 100%;
	font-size: 15px;
}

.personnel-search i {
  color: #00c3ca;
	font-size: 25px;
	margin-right: 5px;
}

.personnel-add {
  color: white;
  background-color: #37babe;
  margin-left: 15px;
  width: 230px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  cursor: pointer;
}

.personnel-add i {
  color: white;
  font-size: 20px;
}
.personnel-add span {
  color: white;
  font-size: 15px;
  font-weight: 800;
}


/* maincontent - PERSONNEL LIST */
.personnel-list-page .personnel-list-box {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.personnel-list-box .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}
/* Personnel card */
.personnel-card {
  width: 20rem;
  background-color: #fff;
  height: 33em;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 17px;
  border: transparent;
}

.personnel-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: darkgrey; */
  border-width: 2px;
  padding: 8px 20px;
  background-color: transparent
}

.personnel-card-header i {
  font-size: 20px;
}

.personnel-avatar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.personnel-avatar img {
  border-radius: 50%;
  font-size: 18px;
  font-weight: 400;
  height: 220px;
  width: 220px;
}

.personnel-id {
  color: #03b6bd;
  font-size: 18px;
  font-weight: 400;
}

.bio-title {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}

.bio-content {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 2px;
}

/* personnel card option */
.personnel-card-option {
  display: flex;
  justify-content: center;
}

.page-option {
  font-size: 20px;
  margin: 60px 20px 0px;
  display: flex;
  align-items: center;
  color: black;
}

.page-option i {
  margin: 0px 10px;
  font-size: 30px;
  color: black;
}

.option-inactive, .option-inactive i {
  color: gray;
  cursor: default;
}

@media screen and (max-width: 768px) {

  .non-mobile {
    display: none;
    visibility: visible;
  }

  .main-content {
    margin: 0px;
  }

  .personnel-list-page {
    padding: 30px;

    .personnel-head {

      .personnel-option{
        width: 100%;
        margin-bottom: 10px;
        
        .personnel-search {
          width: 100%;
          margin: 5px;
          padding: 20px;
          i {
            font-size: 35px;
          }
        } 

        .personnel-add {
          width: 100%;
          margin: 5px;
          font-size: 25px;
          font-weight: bolder;
          padding: 0px 20px;

          i {
            font-size: 40px;
          }
        }
      }
    }

    .personnel-list-box {
      .row {
        .personnel-card {
          width: 100%;
          height: auto;

          .personnel-card-header {
            padding: 1rem 2.5rem;
            .personnel-id-text, .personnel-id {
              font-size: 24px;
            }

            i {
              font-size: 40px;
            }
          }

          .card-body {
            padding: 900px;
            display: flex;
            justify-content: flex-start;
            padding: 2.5em;
            margin: 0px;

            .personnel-avatar {
              justify-content: flex-start;
              width: 40%;
              margin-right: 2.5em;
              margin-bottom: 0px;
              img {
                width: 200px;
                height: 200px;
              }
            }

            .personnel-bio {
              width: 70%;
              // background-color: wheat;
              padding: 1rem;
            }
            
          }
        }
      }
    }
  }

  .bio-title {
    font-size: 20px;
  }

  .bio-content {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .personnel-list-title {
    font-size: 60px;
    font-weight: bolder;
  }

  .personnel-list-text {
    font-size: 40px;
  }

  .search-personnel-input {
    font-size: 25px;
  }
}
